@import "../../node_modules/bootstrap/scss/bootstrap.scss"

$fa-font-path: "../../node_modules/@fortawesome/fontawesome-free/webfonts"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss"
@font-face
    font-family: "Flaticon"
    src: url("../../public/fonts/Flaticon.woff") format("woff")
    src: url("../../public/fonts/fontawesome-webfont.woff") format("woff")
$red: #ee0000
body
    margin: 0
    font-family: "Flaticon", serif
header
    background-image: url("../../public/images/banner1.jpg")
    background-size: cover
    background-repeat: no-repeat
    background-position: center

nav
    ul
        li:not(:nth-child(5))
            padding: 15px
            border-bottom: solid 2px white
            border-top: solid 2px white
            text-transform: uppercase

            &:hover
                background-color: red
            a
                color: white
                text-decoration: none
                font-size: 75%
.carousel
    background-color: rgba(0, 0, 0, 0.7)
header
    button
        padding: 10px
        border-radius: 25px
.bottom-decoration
    background-image:  url("../../public/images/bottom_decoration_img.png")
.about
    background-image: url("./../public/images/main_bg.jpg")
    background-size: contain
    &>div
        margin: 5px 150px
.menu-texte
    div
        img
            height: 50px
            width: 50px
            border-radius: 50%

        font-size: 12px 
