@import "../../node_modules/bootstrap/scss/bootstrap.scss"

$fa-font-path: "../../node_modules/@fortawesome/fontawesome-free/webfonts"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss"
// @font-face
// font-family: "Flaticon"
// src: url("../../public/fonts/Flaticon.woff") format("woff"), url("../../public/fonts/fontawesome-webfont.woff") format("woff")

$danger: #dc3545
body
    margin: 0
    font-family: "Flaticon", sans-serif
header
    background-image: url("../../public/images/banner1.jpg")
    background-size: cover
    background-repeat: no-repeat
    background-position: center

nav
    ul
        li:not(:nth-child(5))
            padding: 15px
            border-bottom: solid 2px white
            border-top: solid 2px white
            text-transform: uppercase

            &:hover
                background-color: #ee0000
            a
                color: white
                text-decoration: none
                font-size: 75%

.darker
    background-color: rgba(0, 0,0,0.5)
header
    button
        padding: 10px
        border-radius: 25px
    input

        padding: 10px
        border-radius: 25px
.bottom-decoration
    background-image: url("../../public/images/bottom_decoration_img.png")
    height: 10px
.about
    background-image: url("../../public/images/main_bg.jpg")
    padding: 100px
    &>div
        margin: 5px 150px
.table-blog
    background-image: url("../../public/images/main_bg.jpg")
    padding: 100px
    &>div
        margin: 5px 150px
.nav-pills .nav-link, .nav-pills .nav-link.active, .nav .show > .nav-link
    color: #000000
    
    background-color: #ffffff
    border-right: 1px solid black
    border-bottom: 1px solid black
    &:hover, &:focus
        border-right: 5px solid $danger
        i
            color: $danger
    i 
        color: #cccccc

.menu-texte
    div

        img
            height: 50px
            width: 50px
            border-radius: 50%
            font-size: 12px
        span
            font-size: 12px
        .badge
            height: 30%

.team
    background-image: url("../../public/images/team_background.jpg")
    padding: 10px
    background-color: rgba(0, 0, 0, 0.7)
    width: 100%
.form
    padding: 50px
    background-image: url("../../public/images/book_table_bg.jpg")
    margin: 10px 5px
    form
        input, select
            padding: 10px 5px
            font-size: 20px
            border-radius: 40px
        button
            font-size: 75%
            padding: 15px
            border-radius: 40px
        span
            font-size: 100%
            margin-bottom: 20px
            span
                font-size: 150%
.blog
    .row
        .col-5
            img
                width: 100%
                border: solid 3px #cccccc
                border-radius: 12px
            .bg-danger
                position: relative
                top: -23px
    button
        border-radius: 50px
.big-num
    font-size: 18px
.testimonials
    background-image: url(../../public/images/testimonials_background.jpg)
    background-position: bottom
    .client
        div
            img
                height: 50%
                margin-top: 12px
                border-radius: 50%
                border: solid 1px #cccccc
            .txt-client
                border: solid 1px white
                height: 75%
                border-radius: 12px
                padding: 20px
                font-size: 90%
.contact
    background-image: url(../../public/images/main_bg.jpg)
    .carte
        border-radius: 12px
        width: 30%
.footer
    background-image: url(../../public/images/footer_background.jpg)
    button
        border-radius: 12px
        white-space: nowrap
.footer-bottom
    background-image: url(../../public/images/footer_bottom_decoration_img.png)
    height: 10px

.footer-red
    height: 70px